.about-content {
  width: 900px;
  display: grid;
  grid-gap: 3em;
  grid-template-columns: 1fr 300px;

  & > div {
    display: flex;
    flex-direction: column;
  }

  a {
    margin-top: 2em;
  }
}

.about-photo {
  width: 300px;
  height: 300px;
  border: 3px solid $theme-1;
  box-shadow: 7px 7px 0 0 $theme-3;
  background-color: $black; 

  img {
    width: 100%;
    height: 100%;
    mix-blend-mode: luminosity;
    opacity: 0.7;
  }
  img:hover {
    mix-blend-mode: normal;

    opacity: 0.8;
  }
}

.about-text {
  color: $gray-D;
  margin-bottom: 1em;

  text-align: justify;
  line-height: 1.5em;

  p {
    color: lighten($theme-4, 10);
    display: inline;
  }
}

@media (max-width: 1100px) {
  .about-content {
    width: 100%;
  }
  .about-text {
    line-height: 1em;
  }
}

@media (max-width: 850px) {
  .about-text {
    line-height: 1.5em;
  }
  .about-content {
    grid-template-columns: 1fr;

    & > div {
      align-items: center;
      text-align: center;
    }

    .about-photo {
      width: 250px;
      height: 250px;
      justify-self: center;
    }
  }
}

@media (max-width: 800px) {
  .about-text {
    line-height: 1.8em;
  }
  .about-content > div {
    width: 100%;
  }
}
