.about-skills {
  width: 900px;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: auto;
  height: 50vh;
}

.skill-card {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $gray-2;
  margin-bottom: 20px;

  img {
    width: 100px;
    padding: 10px;
  }

  & > p {
    font-weight: bold;
    margin: 1em 0 2em 0;
    color: $gray-D;
  }
}

.tools-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  li {
    background-color: $gray-2;
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      mix-blend-mode: luminosity;

      &:hover {
        mix-blend-mode: normal;
      }
    }

    p {
      font-size: 0.7em;
      padding: 0.5em 0 0 0;
      color: $gray-7;
    }
  }
}

@media (max-width: 1100px) {
  .about-skills {
    width: 100%;
  }
  .skill-card p {
    font-size: 0.9em;
  }
}

@media (max-width: 900px) {
  .about-skills {
    grid-template-columns: auto;
    grid-template-rows: auto;

    height: auto;
  }
}
