@import "general/variables.scss";

@import "general/reset.scss";

@import "general/loader.scss";

@import "sections/header.scss";

@import "general/button.scss";

@import "sections/home.scss";

@import "general/section.scss";

@import "sections/about.scss";

@import "sections/mobile-header.scss";

@import "sections/skills.scss";

@import "sections/projects.scss";

@import "sections/contact.scss";

@import "sections/footer.scss";

@import "sections/github.scss";
